body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
}

/* Sections */
.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
}

/* Heading */
.big-heading {
    line-height: 1.5;
    font-size: 3.2rem;
}

#title {

    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation bar */
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 19px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: light;
}

/* Download Bottons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title img */
.img-logo {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;

}

/* Features  */

#features h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

#features {
    padding: 7% 15%;
    z-index: 1;
    position: relative;
    margin-bottom: 10%;

}

#features p {
    color: #8f8f8f
}

#features i {
    font-size: 4rem;
    color: #ef8172;
    margin-top: 10%;
}

#features i:hover {
    color: #ff4c68;
}


/* Testemonial section */

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Picing Section */
#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }

    .img-logo {
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

/* Call to Action */
#cta {
    padding: 10%;
}

#cta h3 {
    font-size: 3rem;
    line-height: 1.5;
}

#cta button {
    margin: 20px 5px;
}

/* Footer */
#footer {
    padding: 10%;
}

#footer i {
    margin: 10px 5px;
    font-size: 1.5 rem;
}

p {
    font-family: sans-serif;
    font-size: 0.8rem;
    color: #8f8f8f;
}